* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: arial;
  background-color: rgb(55, 75, 121);
}

.wrapper {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  padding: 50px;
  background-color: rgb(248, 243, 240);
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.493);
}

button {
  font-size: 40px;
  font-weight: bold;
  padding: 10px 20px;
  width: 100%;
  background-color: rgb(55, 75, 121);
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
}

button:hover {
  background-color: rgb(26, 38, 66);
}
